<div class="container">
  <form autocomplete="off" #register="ngForm" (ngSubmit)="onSubmit(register.value)">
    <h2>User Registration</h2>
    <div>
       <label for="username">Username:</label>
      <input type="text" id="username" name="username"  ngModel required />
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" ngModel required />
    </div>
    <div>
      <label for="dob">Date of Birth:</label>
      <input type="date" id="dob" name="dob" ngModel required />
    </div>
    <div>
      <label for="gender">Gender:</label>
      <select id="gender" name="gender" ngModel required>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
      </select>
    </div>
    <div>
      <label for="phone"
        >Phone Number:<small
          >Format: 10 digits without spaces or dashes.</small
        ></label
      >
      <input type="tel" id="phone" name="phone" pattern="[0-9]{10}"  ngModel required />
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" ngModel required />
    </div>
    <div> 
      <input type="submit" value="Register" [disabled]=!register.valid/>
      <a href="#">Already Have an Account? Login</a>
    </div>
  </form>
</div>
